@charset "UTF-8";
@import url("https://cdn.rawgit.com/YJSoft/Webfonts/0.1/BM_JUA.css");
body {
  min-width: 320px;
  font-size: 10px;
  color: #666;
  font-weight: 300;
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #eeeff4; }

address, p, dl {
  margin-bottom: 0; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

ul, ol {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none; }

.container {
  padding-left: 10px;
  padding-right: 10px; }
  .container .row {
    margin-left: -10px;
    margin-right: -10px; }
    .container .row .col-xs-1 {
      padding-left: 10px;
      padding-right: 10px; }
    .container .row .col-xs-2 {
      padding-left: 10px;
      padding-right: 10px; }
    .container .row .col-xs-3 {
      padding-left: 10px;
      padding-right: 10px; }
    .container .row .col-xs-4 {
      padding-left: 10px;
      padding-right: 10px; }
    .container .row .col-xs-5 {
      padding-left: 10px;
      padding-right: 10px; }
    .container .row .col-xs-6 {
      padding-left: 10px;
      padding-right: 10px; }
    .container .row .col-xs-7 {
      padding-left: 10px;
      padding-right: 10px; }
    .container .row .col-xs-8 {
      padding-left: 10px;
      padding-right: 10px; }
    .container .row .col-xs-9 {
      padding-left: 10px;
      padding-right: 10px; }
    .container .row .col-xs-10 {
      padding-left: 10px;
      padding-right: 10px; }
    .container .row .col-xs-11 {
      padding-left: 10px;
      padding-right: 10px; }
    .container .row .col-xs-12 {
      padding-left: 10px;
      padding-right: 10px; }

#header {
  background-color: #fff; }
  #header .top-banner {
    height: 50px;
    border-bottom: 1px solid #dfdfdf; }
    #header .top-banner a {
      display: block;
      height: 50px;
      padding: 5px 0; }
      #header .top-banner a figure img {
        width: auto;
        display: block;
        height: 40px;
        margin: 0 auto; }
  #header .logo-nav {
    position: relative;
    width: 100%;
    text-align: center; }
    #header .logo-nav h1 {
      display: inline-block; }
      #header .logo-nav h1 a {
        display: block; }
        #header .logo-nav h1 a img {
          height: 50px; }
    #header .logo-nav button {
      position: absolute;
      top: 50%;
      padding: 0;
      border: 0;
      background-color: #fff; }
      #header .logo-nav button.btn-open-nav {
        left: 15px;
        margin-top: -7px; }
        #header .logo-nav button.btn-open-nav img {
          width: 17px; }
      #header .logo-nav button.btn-open-mypage {
        right: 15px;
        margin-top: -8px; }
        #header .logo-nav button.btn-open-mypage img {
          width: 15px; }

#gnb {
  background-color: #e25371; }
  #gnb > ul {
    font-size: 0; }
    #gnb > ul > li {
      display: inline-block;
      width: 25%; }
      #gnb > ul > li a {
        display: block;
        font-size: 12px;
        color: #fff;
        font-weight: 400;
        line-height: 35px;
        text-align: center;
        text-decoration: none;
        border-left: 1px solid #ee749e;
        border-right: 1px solid #d32938; }
      #gnb > ul > li:first-child a {
        border-left: 0; }
      #gnb > ul > li:last-child a {
        border-right: 0; }

#gnb-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 400; }
  #gnb-nav .nav-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); }
  #gnb-nav .nav-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 220px;
    height: 100%;
    background-color: #fff;
    background-color: #eeeff4;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-delay: 0s;
    transition-delay: 0s; }
    #gnb-nav .nav-container .nav-header {
      position: relative;
      width: 100%;
      height: 40px;
      padding-top: 15px; }
      #gnb-nav .nav-container .nav-header .btn-close {
        position: absolute;
        top: 0;
        right: 0;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        border: 0;
        padding: 0;
        border-radius: 0;
        box-shadow: none !important;
        background-color: #ff7875; }
        #gnb-nav .nav-container .nav-header .btn-close img {
          position: relative;
          top: -2px;
          width: 16px;
          display: inline-block; }
      #gnb-nav .nav-container .nav-header .global-search {
        width: 150px;
        position: relative;
        margin-left: 15px; }
        #gnb-nav .nav-container .nav-header .global-search .form-group .form-control {
          font-size: 10px;
          width: 100%;
          color: #999;
          height: 25px;
          padding: 0;
          padding-bottom: 10px;
          padding-right: 20px;
          box-shadow: none !important;
          border: 1px solid #eeeff4;
          border-radius: 0;
          border-bottom: 1px solid #e25371;
          background-color: #eeeff4; }
        #gnb-nav .nav-container .nav-header .global-search .search-btn .btn-default {
          position: absolute;
          top: 0;
          right: 0;
          font-size: 13px;
          color: #e25371;
          padding: 0;
          border: 0;
          border-radius: 0;
          box-shadow: none !important;
          background: none !important; }
          #gnb-nav .nav-container .nav-header .global-search .search-btn .btn-default i:before {
            vertical-align: top; }
    #gnb-nav .nav-container .nav-body .quick-menu {
      padding: 25px 0; }
      #gnb-nav .nav-container .nav-body .quick-menu ul {
        display: table;
        width: 100%; }
        #gnb-nav .nav-container .nav-body .quick-menu ul li {
          display: table-cell;
          width: 33.33%;
          text-align: center; }
          #gnb-nav .nav-container .nav-body .quick-menu ul li a {
            display: block;
            text-decoration: none; }
            #gnb-nav .nav-container .nav-body .quick-menu ul li a p {
              font-size: 10px;
              color: #333; }

#footer {
  padding-top: 20px;
  border-top: 1px solid #dfdfdf;
  background-color: #fff; }
  #footer .company {
    text-align: center; }
    #footer .company .policy > ul {
      font-size: 0; }
      #footer .company .policy > ul > li {
        display: inline-block; }
        #footer .company .policy > ul > li a {
          font-size: 10px;
          color: #999;
          text-decoration: none; }
        #footer .company .policy > ul > li:after {
          font-size: 10px;
          content: "·";
          margin: 0 10px; }
        #footer .company .policy > ul > li:last-child:after {
          content: "";
          margin: 0; }
    #footer .company .company-info {
      margin-top: 15px; }
      #footer .company .company-info > ul {
        font-size: 0; }
        #footer .company .company-info > ul > li {
          display: inline-block;
          font-size: 11px;
          color: #666;
          font-weight: 300;
          line-height: 16px; }
          #footer .company .company-info > ul > li a {
            color: #666;
            text-decoration: none; }
          #footer .company .company-info > ul > li:after {
            position: relative;
            top: -1px;
            font-size: 9px;
            color: #a3a3a3;
            content: "|";
            margin: 0 6px; }
          #footer .company .company-info > ul > li:last-child:after {
            content: "";
            margin: 0; }
      #footer .company .company-info > .capyright {
        font-size: 11px;
        font-weight: 500;
        line-height: 16px;
        font-family: 'Roboto', sans-serif; }
        #footer .company .company-info > .capyright a {
          color: #666;
          text-decoration: none; }
    #footer .company .e-book {
      width: 125px;
      margin: 15px auto; }
      #footer .company .e-book a {
        display: block;
        text-decoration: none; }
        #footer .company .e-book a p {
          position: relative;
          font-size: 11px;
          color: #fff;
          width: 125px;
          line-height: 18px;
          text-align: left;
          margin-bottom: 6px;
          padding: 0 10px;
          border-radius: 5px;
          background-color: #acc5ee; }
          #footer .company .e-book a p:after {
            position: absolute;
            top: 0;
            right: 10px;
            content: "+"; }
        #footer .company .e-book a figure {
          text-align: center; }
          #footer .company .e-book a figure img {
            display: inline-block;
            width: 52px;
            margin-right: 6px;
            box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.3); }
            #footer .company .e-book a figure img:last-child {
              margin-right: 0; }
  #footer .family-site {
    width: 100%;
    background-color: #ebebeb; }
    #footer .family-site > .dropup {
      width: 100%; }
      #footer .family-site > .dropup .btn-default {
        position: relative;
        min-width: 100%;
        font-size: 10px;
        color: #666;
        padding: 0 20px;
        text-align: left;
        line-height: 36px;
        border: 0;
        box-shadow: none !important;
        background-color: #ebebeb; }
        #footer .family-site > .dropup .btn-default:after {
          position: absolute;
          top: 0;
          right: 20px;
          font-family: "fontello";
          content: "\E807"; }
      #footer .family-site > .dropup .dropdown-menu {
        margin: 0;
        box-shadow: none;
        border-radius: 0;
        min-width: 100%; }
      #footer .family-site > .dropup.open .btn-default:after {
        content: "\E806"; }

/*# sourceMappingURL=default.css.map */
