@import 'common';

#content {
    padding: 10px 5px;
    a {
        text-decoration: none;
    }
}

// hot-issue
.hot-issue {
    a {
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
        display: block;
        strong {
            font-size: 11px;
            color: #e96d7b;
            @include roboto();
        }
        p {
            font-size: 10px;
            color: #666;
            margin-top: 8px;
        }
    }
}

.jumbo {
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
    .bx-wrapper {
        position: relative;
        .bx-viewport {
            ul {
                li {
                    a {
                        display: block;
                        figure {
                            overflow: hidden;
                            border-radius: 10px;
                            .img-responsive {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
        .bx-controls {
            position: absolute;
            bottom: 10px;
            width: 100%;
            text-align: center;
            .bx-pager {
                display: inline-block;
                height: 18px;
                padding: 4px 10px;
                border-radius: 30px;
                background-color: rgba(255, 255, 255, .95);
                .bx-pager-item {
                    display: inline-block;
                    a {
                        display: block;
                        width: 10px;
                        height: 10px;
                        text-indent: -99999px;
                        border-radius: 50%;
                        border: 1px solid #777;
                        margin: 0 3px;
                        &.active {
                            background-color: #777;
                        }
                    }
                }
            }
        }
    }
}

// 브랜드 뉴스 및 배너
.brand-banner {
    margin-top: 10px;
    .brand-news {
        position: relative;
        a {
            overflow: hidden;
            border-radius: 10px;
            background-color: #fff;
            box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
            figure {
                .img-responsive {
                    width: 100%;
                }
            }
            .details {
                position: absolute;
                top: 0;
                left: 0;
                padding: 10px;
                h1 {
                    font-size: 12px;
                    color: #333;
                    font-weight: 500;
                    @include roboto();
                }
                p {
                    font-size: 10px;
                    color: #666;
                    margin-top: 15px;
                }
                i {
                    font-size: 10px;
                    line-height: 12px;
                    
                }
            }
        }
    }
}


.qna {
    overflow: hidden;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
}


























