@import url("https://cdn.rawgit.com/YJSoft/Webfonts/0.1/BM_JUA.css");
body {
  min-width: 320px;
  font-size: 10px;
  color: #666;
  font-weight: 300;
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #eeeff4; }

address, p, dl {
  margin-bottom: 0; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

ul, ol {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none; }

.container {
  padding-left: 10px;
  padding-right: 10px; }
  .container .row {
    margin-left: -10px;
    margin-right: -10px; }
    .container .row .col-xs-1 {
      padding-left: 10px;
      padding-right: 10px; }
    .container .row .col-xs-2 {
      padding-left: 10px;
      padding-right: 10px; }
    .container .row .col-xs-3 {
      padding-left: 10px;
      padding-right: 10px; }
    .container .row .col-xs-4 {
      padding-left: 10px;
      padding-right: 10px; }
    .container .row .col-xs-5 {
      padding-left: 10px;
      padding-right: 10px; }
    .container .row .col-xs-6 {
      padding-left: 10px;
      padding-right: 10px; }
    .container .row .col-xs-7 {
      padding-left: 10px;
      padding-right: 10px; }
    .container .row .col-xs-8 {
      padding-left: 10px;
      padding-right: 10px; }
    .container .row .col-xs-9 {
      padding-left: 10px;
      padding-right: 10px; }
    .container .row .col-xs-10 {
      padding-left: 10px;
      padding-right: 10px; }
    .container .row .col-xs-11 {
      padding-left: 10px;
      padding-right: 10px; }
    .container .row .col-xs-12 {
      padding-left: 10px;
      padding-right: 10px; }

#content {
  padding: 10px; }
  #content a {
    text-decoration: none; }

.hot-issue {
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05); }
  .hot-issue a {
    display: block; }
    .hot-issue a strong {
      font-size: 11px;
      color: #e96d7b;
      font-family: 'Roboto', sans-serif; }
    .hot-issue a p {
      font-size: 10px;
      color: #666;
      margin-top: 8px; }

.jumbo {
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05); }
  .jumbo .bx-wrapper {
    position: relative; }
    .jumbo .bx-wrapper .bx-viewport ul li a {
      display: block; }
      .jumbo .bx-wrapper .bx-viewport ul li a figure {
        overflow: hidden;
        border-radius: 10px; }
        .jumbo .bx-wrapper .bx-viewport ul li a figure .img-responsvie {
          margin: 0 auto; }
    .jumbo .bx-wrapper .bx-controls {
      position: absolute;
      bottom: 10px;
      width: 100%;
      text-align: center; }
      .jumbo .bx-wrapper .bx-controls .bx-pager {
        display: inline-block;
        height: 18px;
        padding: 4px 10px;
        border-radius: 30px;
        background-color: rgba(255, 255, 255, 0.95); }
        .jumbo .bx-wrapper .bx-controls .bx-pager .bx-pager-item {
          display: inline-block; }
          .jumbo .bx-wrapper .bx-controls .bx-pager .bx-pager-item a {
            display: block;
            width: 10px;
            height: 10px;
            text-indent: -99999px;
            border-radius: 50%;
            border: 1px solid #777;
            margin: 0 3px; }
            .jumbo .bx-wrapper .bx-controls .bx-pager .bx-pager-item a.active {
              background-color: #777; }

/*# sourceMappingURL=main.css.map */
