@import 'common';

#content {
    padding: 10px 5px;
    a {
        text-decoration: none;
    }
}

// hot-issue
.hot-issue {
    a {
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
        display: block;
        strong {
            font-size: 11px;
            color: #e96d7b;
            @include roboto();
        }
        p {
            font-size: 10px;
            color: #666;
            margin-top: 8px;
        }
    }
}

.jumbo {
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
    .bx-wrapper {
        position: relative;
        .bx-viewport {
            ul {
                li {
                    a {
                        display: block;
                        figure {
                            overflow: hidden;
                            border-radius: 10px;
                            .img-responsive {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
        .bx-controls {
            position: absolute;
            bottom: 10px;
            width: 100%;
            text-align: center;
            .bx-pager {
                display: inline-block;
                height: 18px;
                padding: 4px 10px;
                border-radius: 30px;
                background-color: rgba(255, 255, 255, .95);
                .bx-pager-item {
                    display: inline-block;
                    a {
                        display: block;
                        width: 10px;
                        height: 10px;
                        text-indent: -99999px;
                        border-radius: 50%;
                        border: 1px solid #777;
                        margin: 0 3px;
                        &.active {
                            background-color: #777;
                        }
                    }
                }
            }
        }
    }
}

// 브랜드 뉴스 및 배너
.brand-banner {
    margin-top: 10px;
    .brand-news {
        position: relative;
        overflow: hidden;
        border-radius: 10px;
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
        figure {
            .img-responsive {
                width: 100%;
            }
        }
        a {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 100%;
            .details {
                padding: 10px;
                h3 {
                    line-height: 6px;
                    margin-bottom: 8px;
                    img {
                        width: 56px;
                    }
                }
                p {
                    font-size: 10px;
                    color: #333;
                    &.summary {
                        color: #666;
                        line-height: 13px;
                        margin-top: 3px;
                    }
                }
            }
        }
    }
}


// 공통 
.article-header {
    overflow: hidden;
    h3 {
        font-size: 11px;
        color: #333;
        font-weight: 500;
        float: left;
    }
    .btn-controls {
        float: right;
        font-size: 0;
        a {
            display: inline-block;
            font-size: 11px;
            color: #ccc;
            margin-right: 5px;
            @include transition();
            &:last-child {
                margin-right: 9;
            }
            &:hover, &:focus {
                color: #e96d7b;
            }
            i {
                &:before {
                    margin: 0;
                }
            }
        }
    }
}
.article-content {
    padding-top: 10px;
}

.qna-list {
    overflow: hidden;
    padding: 15px 10px;
    margin-top: 10px;
    background-color: #fff;
    border-radius: 10px;
    .article-header {
        padding-bottom: 10px;
        border-bottom: 1px solid #dfdfdf;
    }
    .article-content {
        table-layout: fixed;
        display: table;
        width: 100%;
        figure {
            position: relative;
            vertical-align: top;
            display: table-cell;
            width: 90px;
            figcaption {
                position: absolute;
                bottom: 5px;
                font-size: 10px;
                color: #fff;
                line-height: 13px;
                width: 100%;
                text-align: center;
            }
        }
        .details {
            vertical-align: top;
            display: table-cell;
            padding-left: 20px;
            vertical-align: middle;
            ul {
                li {
                    a {
                        display: block;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        font-size: 10px;
                        color: #666;
                        font-weight: 400;
                        line-height: 20px;
                        padding-left: 16px;
                        background-image: url(/mobile/assets/images/main/icon_question.gif);
                        background-repeat: no-repeat;
                        background-position: 0 50%;
                        background-size: 11px auto;
                    }
                }
            }
            
        }
    }
}

.parenting-learn {
    overflow: hidden;
    padding: 15px 10px;
    margin-top: 10px;
    background-color: #fff;
    border-radius: 10px;
    .article-content {
        > ul {
            > li {
                a {
                    display: block;
                    text-align: center;
                    figure {
                        img {
                            width: 100%;
                        }
                        figcaption {
                            font-size: 10px;
                            color: #666;
                            line-height: 13px;
                            margin-top: 10px;
                        }
                    }
                }
            }
        }
    }
}


























