@import url("/mobile/assets/css/common.css");

/* 쪽지 리스트 */
.message-list .search-form {
    margin-bottom: 15px;
}
.message-list .board-type-2 .paging {
    margin-top: 21px;
}

/* 쪽지 뷰 */
.message-view .table-wrap {
    margin-top: 40px;
}
.message-view .table-wrap h5 {
    font-size: 12px;
    color: #333;
    margin-bottom: 17px;
}
.message-view .table-wrap .btn-area {
    margin-top: 31px;
    text-align: right;
}
.message-view .table-wrap .btn-area p > .btn{
    width: 90px;
}
/* 비밀번호 확인*/
.pw-confirm .confirm-form {
    padding: 35px 0;
    background-color: #fff;
    border-radius: 10px;
}
.pw-confirm .confirm-form figure {
    width: 44px;
    margin: 0 auto;
}
.pw-confirm .confirm-form figure img {
    width: 100%;
}
.pw-confirm .confirm-form .details {
    padding-top: 30px;
    padding-bottom: 20px;
}
.pw-confirm .confirm-form .details h2 {
    text-align: center;
    font-size: 13px;
    margin-bottom: 20px;
}
.pw-confirm .confirm-form .details .summary {
    font-size: 11px;
    text-align: center;
    line-height: 16px;
    color: #8f8f8f;
}
.pw-confirm .confirm-form .form-group .form-control {
    width: 260px;
    margin: 0 auto;
}
.pw-confirm .confirm-form .btn-area {
    margin-top: 30px;
}


/* 내가 쓴 글 */
.my-history .my-board h3 {
    font-size: 12px;
    color: #333;
}
.my-history .my-board .search-form {
    margin: 15px 0;
}
.my-history .my-board .board-type-2 .paging {
    margin-top: 22px;
}
.my-history .my-board .board-type-2 > ul > li {
    border-bottom: 1px solid #dfdfdf;
}
.my-history .my-comment h5 {
    font-size: 13px;
    color: #333;
    margin-top: 40px;
}
.my-history .my-comment .board-type-3 {
    border-radius: 10px;
    margin-top: 20px;
}
.my-history .my-comment .board-type-3 .article-header ul li.date {
    width: 108px;
    text-align: right;
    padding-right: 18px;
    /*질문*/
}
.my-history .my-comment .board-type-3 .article-content .table-wrap .table tbody tr td.date {
    text-align: right;
    width: 108px;
    font-family: 'Roboto', sans-serif;
    color: #999;
}
.my-history .my-comment .board-type-3 .article-content .paging {
    margin-top: 20px;
}

/* 회원탈퇴 동의 */
.member-leave .text-box {
    padding: 40px 18px;
    background-color: #fff;
    border-radius: 10px;
}
.member-leave .text-box figure {
    width: 92px;
    margin: 0 auto;
}
.member-leave .text-box figure img {
    width: 100%;
}
.member-leave .text-box .info {
    margin-top: 20px;
}
.member-leave .text-box .info p {
    font-size: 11px;
    color: #8f8f8f;
    text-align: center;
    line-height: 16px;
}
.member-leave label {
    margin-top: 20px;
    width: 100%;
    color: #666;
    font-weight: 300;
}
.member-leave input {
    font-size: 11px;
    position: relative;
    top: 3px;
    margin-right: 7px;
}
.member-leave .btn-area {
    margin-top: 40px;
    text-align: right;
}

/* 회원탈퇴 완료 */
.success .success {
    padding: 50px 44px 40px;
    background-color: #fff;
    border-radius: 10px;
}
.success .success h4 {
    font-weight: 400;
    font-size: 13px;
    color: #333;
    text-align: center;
}
.success .success .summary {
    font-size: 11px;
    color: #8f8f8f;
    line-height: 16px;
    text-align: center;
    margin-top: 18px;
    margin-bottom: 28px;
}
.success .success figure {
    width: 173px;
    margin: 0 auto
}
.success .success figure img {
    width: 100%;
}
.success .success .btn-area {
    margin-top: 30px;
}
