@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Nanum+Myeongjo:400,700um+Myeongjo&subset=korean");
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

ul, ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }

address {
  margin-bottom: 0; }

.container {
  width: 1200px !important; }

.ange-naming .naming-title {
  position: relative;
  padding-left: 20px;
  font-size: 18px;
  color: #333;
  font-weight: 400;
  margin-bottom: 20px; }
  .ange-naming .naming-title:before {
    position: absolute;
    top: 2px;
    left: 0;
    font-size: 16px;
    color: #e25371;
    content: "\E826";
    font-family: 'fontello'; }
.ange-naming .explain {
  padding: 40px;
  border: 1px solid #e5e5e5;
  border-radius: 10px; }
  .ange-naming .explain.gray {
    padding: 30px;
    background-color: #f6f7f9; }
.ange-naming .table-wrap .table tbody tr td.bg-gray {
  background-color: #fafafa; }
.ange-naming .table-wrap .table.naming-table {
  border: 0; }
  .ange-naming .table-wrap .table.naming-table caption {
    font-size: 14px;
    color: #fff;
    padding: 15px 0;
    text-align: center;
    background-color: #acacac; }
  .ange-naming .table-wrap .table.naming-table tbody tr td {
    font-size: 14px;
    color: #666;
    text-align: center;
    vertical-align: middle;
    padding: 15px 0;
    border: 1px solid #dfdfdf; }
    .ange-naming .table-wrap .table.naming-table tbody tr td:last-child {
      border-right: 0; }
    .ange-naming .table-wrap .table.naming-table tbody tr td:first-child {
      border-left: 0; }
.ange-naming .attention-box.type-2 h3 {
  position: relative;
  font-size: 14px;
  color: #e25371;
  padding-left: 20px; }
  .ange-naming .attention-box.type-2 h3:before {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    content: "\E827";
    font-family: 'fontello'; }
.ange-naming .attention-box.type-2 ol {
  margin-top: 20px; }
  .ange-naming .attention-box.type-2 ol li {
    font-size: 13px;
    line-height: 22px;
    color: #999; }
    .ange-naming .attention-box.type-2 ol li i {
      font-style: normal;
      color: #ff7875;
      font-weight: 400; }
    .ange-naming .attention-box.type-2 ol li > p {
      position: relative;
      padding-left: 15px; }
      .ange-naming .attention-box.type-2 ol li > p:before {
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        content: "※ "; }

.naming-intro .section-content > ul li {
  display: table;
  width: 100%;
  height: 265px;
  border: 1px solid #dfdfdf;
  border-radius: 20px;
  background-color: #fff; }
  .naming-intro .section-content > ul li:hover {
    background-color: #f8f8fa; }
  .naming-intro .section-content > ul li ~ li {
    margin-top: 20px; }
  .naming-intro .section-content > ul li > div {
    display: table-cell;
    vertical-align: middle; }
    .naming-intro .section-content > ul li > div.item {
      width: 400px;
      text-align: center; }
    .naming-intro .section-content > ul li > div.details {
      text-align: left; }
      .naming-intro .section-content > ul li > div.details h3 {
        font-size: 24px;
        color: #333;
        line-height: 32px; }
      .naming-intro .section-content > ul li > div.details i {
        font-style: normal;
        font-size: 18px;
        color: #999;
        font-weight: 300;
        font-family: 'Roboto', sans-serif; }
      .naming-intro .section-content > ul li > div.details > p {
        font-size: 14px;
        line-height: 22px;
        color: #666;
        letter-spacing: -1px;
        margin-top: 25px;
        margin-bottom: 30px; }
      .naming-intro .section-content > ul li > div.details > .btn-area p .btn-sm {
        width: 130px;
        font-size: 13px;
        line-height: 38px;
        background-color: #fff; }
        .naming-intro .section-content > ul li > div.details > .btn-area p .btn-sm:hover, .naming-intro .section-content > ul li > div.details > .btn-area p .btn-sm:focus {
          opacity: 1;
          color: #fff;
          border: 1px solid #ff7875;
          background-color: #ff7875; }

.success .section-content .complete {
  padding-top: 35px;
  padding-bottom: 45px; }
  .success .section-content .complete figure {
    text-align: center; }
    .success .section-content .complete figure figcaption strong {
      display: block;
      font-size: 20px;
      color: #333;
      font-weight: 500;
      margin-top: 35px;
      margin-bottom: 20px; }
    .success .section-content .complete figure figcaption small {
      font-size: 15px;
      line-height: 24px;
      color: #666; }
      .success .section-content .complete figure figcaption small i {
        font-style: normal;
        color: #e25371;
        font-weight: 400; }
.success .section-content .table-wrap .table.type-1 {
  border-top: 2px solid #666; }
  .success .section-content .table-wrap .table.type-1 tbody tr th {
    font-size: 14px;
    height: 56px; }
  .success .section-content .table-wrap .table.type-1 tbody tr td {
    font-size: 14px;
    color: #666;
    vertical-align: middle; }
.success .section-content .table-wrap .btn-area {
  text-align: right;
  margin-top: 30px; }

/*# sourceMappingURL=ange_naming.css.map */
