@charset "UTF-8";
@import url("https://cdn.rawgit.com/YJSoft/Webfonts/0.1/BM_JUA.css");
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

ul, ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }

address {
  margin-bottom: 0; }

.container {
  width: 1200px !important; }

/* 교육팀장 소개 */
.education-intro .section-content .porofile {
  font-size: 0; }
  .education-intro .section-content .porofile > li {
    position: relative;
    padding-top: 5px;
    margin-top: 30px; }
    .education-intro .section-content .porofile > li:first-child {
      magin-top: 0; }
    .education-intro .section-content .porofile > li .bookmark {
      position: absolute;
      top: 0;
      right: 50px;
      z-index: 2; }
      .education-intro .section-content .porofile > li .bookmark img {
        width: 100%; }
    .education-intro .section-content .porofile > li .profile-wrap {
      display: table;
      width: 100%;
      border-radius: 30px;
      border: 1px solid #e5e5e5;
      background-color: #fbfbfb; }
      .education-intro .section-content .porofile > li .profile-wrap > div {
        display: table-cell; }
        .education-intro .section-content .porofile > li .profile-wrap > div.profile-img {
          position: relative;
          width: 300px; }
          .education-intro .section-content .porofile > li .profile-wrap > div.profile-img figure {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%; }
            .education-intro .section-content .porofile > li .profile-wrap > div.profile-img figure img {
              display: block;
              margin: 0 auto; }
        .education-intro .section-content .porofile > li .profile-wrap > div.details {
          padding: 50px 20px 50px 0;
          vertical-align: middle; }
          .education-intro .section-content .porofile > li .profile-wrap > div.details small {
            font-size: 14px;
            color: #999; }
          .education-intro .section-content .porofile > li .profile-wrap > div.details h3 {
            color: #333;
            font-size: 26px;
            font-weight: 400;
            margin-top: 20px;
            margin-bottom: 40px; }
            .education-intro .section-content .porofile > li .profile-wrap > div.details h3 strong {
              display: inline-block;
              font-size: 34px;
              font-weight: bold; }
          .education-intro .section-content .porofile > li .profile-wrap > div.details .info > li {
            position: relative;
            font-size: 14px;
            line-height: 24px;
            color: #555;
            padding-left: 10px;
            word-break: break-all;
            letter-spacing: -0.5px;
            opacity: .8; }
            .education-intro .section-content .porofile > li .profile-wrap > div.details .info > li:before {
              position: absolute;
              left: 0;
              font-size: 10px;
              content: "\E803";
              font-family: "fontello"; }

/* 앙쥬클럽 회원혜택 */
.member-benefit .section-content ul li {
  float: left;
  width: 400px;
  height: 510px;
  margin-top: 30px;
  padding: 55px 30px 60px;
  background-color: #f9fafb;
  border: 1px solid #e5e5e5;
  border-radius: 10px; }
  .member-benefit .section-content ul li:nth-of-type(2n+1) {
    clear: both;
    margin-right: 40px; }
  .member-benefit .section-content ul li:nth-of-type(1), .member-benefit .section-content ul li:nth-of-type(2) {
    margin-top: 0; }
  .member-benefit .section-content ul li figure img {
    display: block;
    margin: 0 auto; }
  .member-benefit .section-content ul li figure figcaption {
    padding-top: 30px; }
    .member-benefit .section-content ul li figure figcaption h3 {
      font-size: 22px;
      color: #333;
      font-weight: 500;
      text-align: center;
      margin-bottom: 30px; }
    .member-benefit .section-content ul li figure figcaption p {
      font-size: 14px;
      line-height: 26px;
      color: #666;
      font-weight: 400;
      letter-spacing: -.5px; }
      .member-benefit .section-content ul li figure figcaption p i {
        font-style: normal;
        color: #e25371; }

/*# sourceMappingURL=ange_club.css.map */
