@import 'common';

html {
	min-width: 1200px;
}

body {
    position: relative;
	font-size: 13px;
	color: #666;
    font-weight: 400;
    @include noto();
    padding-top: 201px;
    background-color: #eeeff4;
}

// header
#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200;
    border-top: 1px solid #dfdfdf;
    background-color: #fff;
}

// top-nav
#top-nav {
    font-size: 0;
    padding: 10px 0 12px;
    border-bottom: 1px solid #dfdfdf;
    ul {
        li {
            display: inline-block;
            font-size: 12px;
            a {
                color: #666;
                font-weight: 400;
            }
            i {
                font-size: 12px;
                margin-right: 4px;
                &.icon-star {
                    color: #f9c82e;
                }
                &.icon-bookmark {
                    color: #e96d7b;
                }
            }
        }
    }
    .bookmark {
        text-align: left;
        ul {
            li {
                margin-right: 30px;
                &:last-child {
                    margin-right: 0;
                }
                a {
                    text-decoration: none;
                }
            }
        }
    }
    .member {
        text-align: right;
        ul {
            li {
                position: relative;
                padding: 0 10px;
                &:after {
                    position: absolute;
                    top: 1px;
                    right: -1px;
                    font-family: "fontello";
                    content: "\E803";
                }
                &:first-child {
                    padding-left: 0;
                }
                &:last-child {
                    padding-right: 0;
                    &:after {
                        content: "";
                    }
                }
            }
        }
    }
}


// top banner
.top-banner {
    position: relative;
    overflow: hidden;
    margin-top: 14px;
    .bx-wrapper {
        float: right;
        width: 370px;
        .bx-viewport {
            ul {
                li {
                    a {
                        display: block;
                        figure {
                            img {
//                                width: 298px;
//                                height: 78px;
                            }
                        }
                    }
                }
            }
        }
        .bx-controls {
            position: absolute;
            top: 20px;
            right: 0;
            .bx-controls-direction {
                a {
                    display: inline-block;
                    width: 19px;
                    height: 19px;
                    font-size: 10px;
                    color: #676767;
                    text-align: center;
                    line-height: 17px;
                    border: 1px solid #d5d5d5;
                    background-color: #fff;
                    &.bx-next {
                        width: 18px;
                        border-left: 0;
                    }
                }
            }
        }
    }
}

// logo-nav 
.logo-nav {
    overflow: hidden;
    height: 110px;
    .logo {
        position: relative;
        display: block;
        height: 110px;
        margin-left: -142px;
        background-image: url(/assets/images/logo.jpg);
        background-position: 0 0;
        background-repeat: no-repeat;
        a {
            position: absolute;
            top: 0;
            right: 0;
            display: block;
            width: 230px;
            height: 110px;
        }
    }
    .global-seearch {
        position: relative;
        width: 170px;
        margin-top: 30px;
        .form-group {
            .form-control {
                font-size: 15px;
                color: #999;
                font-weight: 300;
                box-shadow: none;
                padding: 0 30px 15px 3px;
                border-radius: 0;
                border: 0;
                border-bottom: 3px solid $kcolor;
            }
        }
        .btn-default {
            position: absolute;
            top: 0;
            right: 0;
            font-size: 21px;
            color: $kcolor;
            line-height: 31px;
            padding: 0;
            border: 0;
            border-right: 0;
            vertical-align: top;
            background: none;
            i {
                &:before {
                    vertical-align: top;
                }
            }
            &:hover, &:focus {
                border: 0;
                box-shadow: none;
            }
        }
    }
}

// gnb 메뉴
#gnb {
    height: 50px;
    background-color: $kcolor;
    .gnb-nav {
        position: relative;
        height: 50px;
        padding-left: 50px;
        &:after {
            position: absolute;
            top: -13.5px;
            right: -1px;
            content: url(/assets/images/bg_gnb_menu.png);
        }
        .btn-controls {
            position: absolute;
            top: 0;
            left: 0;
            width: 50px;
            background-color: #d63244;
            .btn {
                position: relative;
                display: block;
                width: 50px;
                height: 50px;
                font-size: 12px;
                text-align: center;
                color: #fff;
                padding: 0;
                border: 0;
                z-index: 200;
                border-radius: 0;
                background-color: #d63244;
                box-shadow: none !important;
                &.btn-open {
                    padding: 17px 0 16px;
                    border-left: 1px solid #c11922;
                    border-right: 1px solid #c11922;
                    span {
                        display: block;
                        width: 24px;
                        height: 3px;
                        margin: 0 auto; 
                        margin-bottom: 3px;
                        border-radius: 3px;
                        background-color: #fff;
                        &:nth-of-type(3) {
                            margin-bottom: 0;
                        }
                    }
                }
                &.btn-close {
                    display: none;
                }
                &:focus {
                    border: 0;
                    box-shadow: none;
                }
            }
        }
        .gnb-menu {
            position: relative;
            z-index: 200;
            font-size: 0;
            width: 1121px;
            > li {
                display: inline-block;
                width: 16.666%;
                color: #fff;
                vertical-align: top;
                text-align: center;
                > a {
                    position: relative;
                    display: block;
                    font-size: 17px;
                    color: #fff;
                    font-weight: 300;
                    line-height: 50px;
                    text-decoration: none;
                    background-color: $kcolor;
                    border-left: 1px solid #ee749e;
                    border-right: 1px solid #d32938;
                }
                &:last-child {
                    > a {
                        border-left: 0;
                        border-right: 0;
                        background-color: #ff7875;
                        &:before {
                            position: relative;
                            top: 5px;
                            display: inline-block;
                            line-height: 20px;
                            margin-right: 5px;
                            content: url(/assets/images/icon_samplebox.png);
                        }
                    }
                }
            }
        }
    }
    &.opened {
        .nav-backdrop {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 100;
            margin-top: 150px;
        }
        .gnb-nav {
            height: 100%;
            background-color: rgba(255, 255, 255, .95);
            border-top: 0;
            border-left: 0;
            .btn-controls {
                height: 100%;
                border-bottom: 3px solid $kcolor;
                .btn {
                    text-decoration: none;
                    &.btn-close {
                        position: absolute;
                        bottom: 0;
                        height: 40px;
                        display: block;
                        line-height: 40px;
                    }
                }
            }
            .gnb-menu {
                > li {
                    > ul {
                        display: block;
                        width: 100%;
                        height: 187px;
                        background: none;
                        padding: 15px 0;
                        border-right: 1px solid #dfdfdf;
                        border-bottom: 3px solid $kcolor;
                        &:hover {
                            background-color: #fff;
                        }
                        li {
                            a {
                                position: relative;
                                display: inline-block;
                                font-size: 13px;
                                color: #666;
                                font-weight: 400;
                                line-height: 30px;
                                text-decoration: none;
                                span {
                                    position: absolute;
                                    width: 0;
                                    left: 50%;
                                    @include transition();
                                }
                                &:hover, &:focus {
                                    span {
                                        bottom: 2px;
                                        left: 0;
                                        width: 100%;
                                        height: 1px;
                                        background-color: #777;
                                        display: inline-block;
                                    }
                                }
                            }
                        }
                    }
                    &:last-child {
                        ul {
                            border-right: 3px solid $kcolor;
                        }
                    }
                }
            }
        }
    }
}

// footer 
#footer {
    padding: 30px 0;
    border-top: 1px solid #dfdfdf;
    background-color: #fff;
    .e-book {
        a {
            width: 140px;
            display: block;
            text-decoration: none;
            p {
                position: relative;
                font-size: 11px;
                color: #fff;
                width: 100%;
                height: 18px;
                line-height: 18px;
                padding: 0 10px;
                border-radius: 10px;
                background-color: #acc5ee;
                &:after {
                    position: absolute;
                    top: 0;
                    right: 10px;
                    font-size: 10px;
                    font-family: "fontello";
                    content: "\E801";
                }
            }
            figure {
                text-align: center;
                margin-top: 7px;
                padding: 0 10px;
                font-size: 0;
                img {
                    display: inline-block;
                    margin-right: 10px;
                    box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.3); 
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }
    .company {
        text-align: center;
        padding-top: 10px;
        .policy {
            font-size: 0;
            > li {
                position: relative;
                display: inline-block;
                padding: 0 10px;
                > a {
                    font-size: 12px;
                    color: #999;
                }
                &:after {
                    position: absolute;
                    top: 2px;
                    right: -1px;
                    font-size: 10px;
                    color: #999;
                    font-family: "fontello";
                    content: "\E803";
                }
                &:first-child {
                    padding-left: 0;
                }
                &:last-child {
                    padding-right: 0;
                    &:after {
                        content: "";
                    }
                }
            }
        }
        .company-info {
            font-size: 0;
            margin-top: 30px;
            > li {
                position: relative;
                display: inline-block;
                font-size: 13px;
                font-weight: 300;
                line-height: 22px;
                padding: 0 10px;
                &:before {
                    position: absolute;
                    top: 50%;
                    left: 0;
                    margin-top: -5px;
                    content: "";
                    height: 10px;
                    border-left: 1px solid #666;
                }
                &:after {
                    position: absolute;
                    top: 50%;
                    right: 0;
                    margin-top: -5px;
                    content: "";
                    height: 10px;
                    border-right: 1px solid #ccc;
                }
                &:first-child {
                    &:before {
                        display: none;
                    }
                }
                &:last-child {
                    &:after {
                        display: none;
                    }
                }
            }
        }
        .copyright {
            font-size: 13px;
            font-weight: 400;
            line-height: 22px;
            @include roboto();
            a {
                text-decoration: none;
            }
        }
    }
    .social {
        .sns-list {
            font-size: 0;
            text-align: right;
            li {
                display: inline-block;
                margin-right: 5px;
                a {
                    font-size: 13px;
                    display: block;
                }
                &:last-child {
                    margin-right: 0;
                }
            }
        }
        .family-site {
            float: right;
            margin-top: 15px;
            width: 200px;
            .btn-default {
                position: relative;
                width: 200px;
                font-size: 13px;
                color: #666;
                text-align: left;
                line-height: 40px;
                height: 40px;
                padding: 0 15px;
                border: 0;
                border-radius: 0;
                background-color: #ebebeb;
                box-shadow: none !important;
                &:after {
                    position: absolute;
                    top: 0;
                    right: 15px;
                    font-family: "fontello";
                    content: "\E80A";
                }
            }
            &.open {
                .btn-default {
                    &:after {
                        content: "\E809";
                    }
                }
            }
            .dropdown-menu {
                margin: 0;
                width: 200px;
                min-width: 200px;
                border-radius: 0;
                box-shadow: none !important;
                li {
                    a {
                        display: block;
                        color: #666;
                        font-size: 13px;
                        padding: 0;
                        line-height: 28px;
                        padding: 0 15px 0 15px;
                    }
                }
            }
        }
    }
}

// quick 광고 배너 
#quick-banner {
    position: absolute;
    top: 231px;
    left: 50%;
    margin-left: -700px;
    width: 100px;
    .item {
        display: block;
        & ~ .item {
            margin-top: 5px;
        }
    }
}
#quick-top {
    display: none;
    a {
        position: fixed;
        right: 50%;
        bottom: 45px;
        display: block;
        width: 50px;
        font-size: 10px;
        color: #888;
        font-weight: bold;
        text-align: center;
        padding: 8px 0;
        margin-right: -650px;
        background-color: #fff;
        border: 1px solid #dfdfdf;
        border-radius: 5px;
        text-decoration: none;
        @include transition();
        z-index: 300;
        &:before {
            display: block;
            font-size: 13px;
            content: "\E808";
            font-family: "fontello";
        }
        &:hover, &:focus {
            opacity: .8;
        }
    }
}
// 로그인 팝업 
.login-layer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
    .login-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000;
        opacity: .8;
    }
    .pop-layer {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 830px;
        .pop-container {
            .login-header {
                position: relative;
                height: 50px;
                width: 100%;
                padding-left: 25px;
                .btn-close {
                    position: absolute;
                    top: 0;
                    right: 0;
                    .close {
                        width: 50px;
                        height: 50px;
                        border-radius: 0;
                        opacity: 1;
                        background-color: #fff;
                    }
                }
                .form-group {
                    label {
                        display: inline-block;
                        font-size: 13px;
                        color: #fff;
                        font-weight: 300;
                        line-height: 50px;
                        input {
                            position: relative;
                            top: 2px;
                            margin-right: 5px;
                        }
                        & ~ label {
                            margin-left: 40px;
                        }
                    }
                }
            }
            .login-content {
                display: table;
                width: 100%;
                padding: 50px;
                border-radius: 30px;
                border-top-right-radius: 0;
                background-color: #fff;
                > div {
                    display: table-cell;
                    width: 50%;
                    vertical-align: top;
                    &.login-area {
                        padding-right: 65px;
                        border-right: 1px solid #ccc;
                        h2 {
                            font-size: 40px;
                            color: #333;
                            font-weight: 400;
                            @include roboto();
                            margin-bottom: 30px;
                        }
                        .summary {
                            font-size: 14px;
                            color: #666;
                            font-weight: 300;
                            margin-bottom: 30px;
                        }
                        .form-group {
                            .form-control {
                                width: 100%;
                                font-size: 13px;
                                color: #666;
                                height: 40px;
                                box-shadow: none !important;
                                border-radius: 0;
                                border: 1px solid #dfdfdf;
                                background-color: #f9f9f9;
                                & ~ .form-control {
                                    margin-top: 10px;
                                }
                            }
                        }
                        .btn-area {
                            margin-top: 10px;
                            .btn-lg {
                                width: 100%;
                                height: 40px;
                                color: #fff;
                                font-size: 13px;
                                font-weight: 300;
                                text-align: center;
                                line-height: 40px;
                                padding: 0;
                                border-radius: 30px;
                                background-color: #e96d7b;
                                @include transition();
                                &:hover, &:focus {
                                    opacity: .8;
                                }
                            }
                        }
                        .find-information {
                            margin-top: 30px;
                            padding-top: 30px;
                            border-top: 1px solid #dfdfdf;
                            > ul {
                                > li {
                                    dl {
                                        overflow: hidden;
                                        dt {
                                            position: relative;
                                            float: left;
                                            font-size: 13px;
                                            color: #666;
                                            font-weight: 300;
                                            line-height: 30px;
                                            padding-left: 20px;
                                            &:before {
                                                position: absolute;
                                                top: 0;
                                                left: 1px;
                                                font-family: "fontello";
                                                content: "\E820";
                                            }
                                        }
                                        dd {
                                            float: right;
                                            line-height: 30px;
                                            a {
                                                position: relative;
                                                display: inline-block;
                                                color: #666;
                                                text-decoration: none;
                                                font-weight: 300;
                                                &:hover, &:focus {
                                                    color: #e96d7b;
                                                }
                                                span {
                                                    position: absolute;
                                                    width: 0;
                                                    left: 50%;
                                                    @include transition();
                                                }
                                                &:hover, &:focus {
                                                    span {
                                                        bottom: 0;
                                                        left: 0;
                                                        width: 100%;
                                                        height: 1px;
                                                        background-color: #e96d7b;
                                                        display: inline-block;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    &.join-area {
                        padding-top: 20px;
                        padding-left: 50px;
                        .member {
                            font-size: 0;
                            > div {
                                display: inline-block;
                                width: 130px;
                                text-align: center;
                                &.none-member {
                                    margin-left: 55px;
                                }
                                .icon {
                                    width: 130px;
                                    height: 130px;
                                    text-align: center;
                                    border-radius: 50%;
                                    line-height: 130px;
                                    border-top-left-radius: 0;
                                    background-color: #9fa0a0;
                                    img {
                                        display: inline-block;
                                    }
                                }
                                .details {
                                    margin-top: 20px;
                                    p {
                                        font-size: 14px;
                                        color: #333;
                                        font-weight: 300;
                                        line-height: 20px;
                                    }
                                    .btn-area {
                                        margin-top: 20px;
                                        .btn-white {
                                            width: 110px;
                                            font-size: 12px;
                                            color: #666;
                                            font-weight: 300;
                                            text-align: center;
                                            line-height: 28px;
                                            padding: 0;
                                            border-radius: 0;
                                            border: 1px solid #ccc;
                                            @include transition();
                                            &:hover, &:focus {
                                                opacity: .7;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .banner {
                            margin-top: 35px;
                            a {
                                display: block;
                                border: 1px solid #ccc;
                            }
                        }
                    }
                }
            }
        }
    }
}

.login-layer {
    .pop-layer {
        display: block;
    }
}