@import url("https://fonts.googleapis.com/css?family=Nanum+Myeongjo:400,700um+Myeongjo&subset=korean");
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

ul, ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }

address {
  margin-bottom: 0; }

.container {
  width: 1200px !important; }

.popup-layer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 400; }
  .popup-layer .popup-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .8; }
  .popup-layer .pop-layer {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 830px; }

.popup-layer .pop-layer {
  display: block; }

.poll-result .pop-layer .pop-container {
  width: 840px;
  background-color: #fff; }
  .poll-result .pop-layer .pop-container .pop-head {
    position: relative;
    width: 100%;
    /*height: 65px;*/
    padding: 23px 100px 23px 30px;
    background-color: #9fca83; }
    .poll-result .pop-layer .pop-container .pop-head h4 {
      font-size: 18px;
      color: #fafafa;
      font-weight: 300;
      vertical-align: middle; }
    .poll-result .pop-layer .pop-container .pop-head .btn-close .close {
      position: absolute;
      top: 0;
      right: 0;
      width: 65px;
      height: 65px;
      opacity: 1;
      text-align: center;
      line-height: 65px;
      background-color: #7db858; }
      .poll-result .pop-layer .pop-container .pop-head .btn-close .close img {
        display: inline-block; }
  .poll-result .pop-layer .pop-container .pop-body {
    height: 700px;
    padding: 50px;
    background-color: #fff; }
    .poll-result .pop-layer .pop-container .pop-body .content {
      height: 600px;
      overflow-y: scroll; }
      .poll-result .pop-layer .pop-container .pop-body .content > ul > li ~ li {
        margin-top: 50px; }
      .poll-result .pop-layer .pop-container .pop-body .content > ul > li .question-title {
        position: relative;
        font-size: 16px;
        color: #333;
        font-weight: 400;
        line-height: 20px;
        padding-left: 30px;
        padding-bottom: 10px;
        border-bottom: 2px solid #b2d69b; }
        .poll-result .pop-layer .pop-container .pop-body .content > ul > li .question-title:before {
          position: absolute;
          top: 1px;
          left: 0;
          width: 20px;
          height: 20px;
          font-size: 12px;
          line-height: 20px;
          text-align: center;
          display: block;
          content: "Q";
          color: #fff;
          border-radius: 50%;
          background-color: #b2d69b;
          font-family: 'Roboto', sans-serif; }
      .poll-result .pop-layer .pop-container .pop-body .content > ul > li .details {
        padding: 30px 10px 0; }
        .poll-result .pop-layer .pop-container .pop-body .content > ul > li .details .selection-percent {
          margin-bottom: 20px; }
          .poll-result .pop-layer .pop-container .pop-body .content > ul > li .details .selection-percent > li {
            position: relative;
            padding-right: 100px; }
            .poll-result .pop-layer .pop-container .pop-body .content > ul > li .details .selection-percent > li p {
              font-size: 14px;
              color: #666;
              font-weight: 400;
              line-height: 30px; }
              .poll-result .pop-layer .pop-container .pop-body .content > ul > li .details .selection-percent > li p.selection {
                text-align: left; }
              .poll-result .pop-layer .pop-container .pop-body .content > ul > li .details .selection-percent > li p.percent {
                position: absolute;
                top: 0;
                right: 0;
                width: 100px;
                text-align: right; }

.participant-result .pop-layer {
  width: 570px; }
  .participant-result .pop-layer .pop-container .pop-head {
    position: relative;
    height: 65px;
    padding: 23px 100px 23px 30px;
    background-color: #ad9cc4; }
    .participant-result .pop-layer .pop-container .pop-head h4 {
      font-size: 18px;
      color: #fafafa;
      font-weight: 300;
      vertical-align: middle; }
    .participant-result .pop-layer .pop-container .pop-head .btn-close .close {
      position: absolute;
      top: 0;
      right: 0;
      width: 65px;
      height: 65px;
      opacity: 1;
      text-align: center;
      line-height: 65px;
      background-color: #9079af; }
      .participant-result .pop-layer .pop-container .pop-head .btn-close .close img {
        display: inline-block; }
  .participant-result .pop-layer .pop-container .pop-body {
    padding: 30px 30px 50px;
    background-color: #fff; }
    .participant-result .pop-layer .pop-container .pop-body > .table-wrap {
      padding: 17px 20px;
      border-radius: 10px;
      border: 1px solid #ebebeb;
      background-color: #fafafa; }
      .participant-result .pop-layer .pop-container .pop-body > .table-wrap > .table {
        border: 0; }
        .participant-result .pop-layer .pop-container .pop-body > .table-wrap > .table tr td {
          font-size: 13px;
          color: #666;
          text-align: center;
          vertical-align: middle;
          padding: 5px 0;
          border: 0; }
          .participant-result .pop-layer .pop-container .pop-body > .table-wrap > .table tr td i {
            font-style: normal;
            font-family: 'Roboto', sans-serif; }
          .participant-result .pop-layer .pop-container .pop-body > .table-wrap > .table tr td .btn-view .btn-gray {
            width: 80px;
            font-size: 12px;
            color: #666;
            line-height: 22px;
            border-radius: 30px;
            -webkit-transition-property: all;
            transition-property: all;
            -webkit-transition-duration: 0.15s;
            transition-duration: 0.15s;
            -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
            -webkit-transition-delay: 0s;
            transition-delay: 0s;
            background-color: #dfdfdf; }
            .participant-result .pop-layer .pop-container .pop-body > .table-wrap > .table tr td .btn-view .btn-gray:hover, .participant-result .pop-layer .pop-container .pop-body > .table-wrap > .table tr td .btn-view .btn-gray:focus {
              color: #fff;
              background-color: #ad9cc4; }
            .participant-result .pop-layer .pop-container .pop-body > .table-wrap > .table tr td .btn-view .btn-gray.active {
              cursor: default;
              color: #fff;
              background-color: #ad9cc4; }
          .participant-result .pop-layer .pop-container .pop-body > .table-wrap > .table tr td:nth-of-type(1) {
            width: 240px;
            text-align: left; }
          .participant-result .pop-layer .pop-container .pop-body > .table-wrap > .table tr td:nth-of-type(4) {
            width: 80px; }
    .participant-result .pop-layer .pop-container .pop-body .details {
      margin-top: 30px; }
      .participant-result .pop-layer .pop-container .pop-body .details h5 {
        font-size: 14px;
        color: #333;
        font-weight: 300;
        padding-bottom: 10px;
        border-bottom: 2px solid #ad9cc4; }
        .participant-result .pop-layer .pop-container .pop-body .details h5 b {
          font-size: 16px;
          color: #9079af;
          font-weight: 500; }
      .participant-result .pop-layer .pop-container .pop-body .details .search-form {
        margin: 20px 0 10px; }
        .participant-result .pop-layer .pop-container .pop-body .details .search-form .form-group .form-control {
          width: 170px; }
        .participant-result .pop-layer .pop-container .pop-body .details .search-form .btn-search .btn-default {
          color: #9079af; }
      .participant-result .pop-layer .pop-container .pop-body .details .search-result h6 {
        font-size: 13px;
        color: #fff;
        text-align: center;
        line-height: 40px;
        background-color: #979aa2; }
      .participant-result .pop-layer .pop-container .pop-body .details .search-result > ul {
        overflow: hidden;
        padding: 20px 15px;
        border-bottom: 1px solid #cfcfcf; }
        .participant-result .pop-layer .pop-container .pop-body .details .search-result > ul > li {
          float: left;
          width: 25%;
          font-size: 12px;
          font-weight: 300;
          text-align: left;
          line-height: 20px; }
          .participant-result .pop-layer .pop-container .pop-body .details .search-result > ul > li:nth-of-type(4n + 1) {
            clear: both; }
    .participant-result .pop-layer .pop-container .pop-body .paging {
      margin-top: 20px; }

.accusation-popup .pop-layer .pop-container {
  width: 840px;
  background-color: #fff; }
  .accusation-popup .pop-layer .pop-container .pop-head {
    position: relative;
    width: 100%;
    padding: 23px 100px 23px 30px;
    background-color: #9fca83; }
    .accusation-popup .pop-layer .pop-container .pop-head h4 {
      font-size: 18px;
      color: #fafafa;
      font-weight: 300;
      vertical-align: middle; }
    .accusation-popup .pop-layer .pop-container .pop-head .btn-close .close {
      position: absolute;
      top: 0;
      right: 0;
      width: 65px;
      height: 65px;
      opacity: 1;
      text-align: center;
      line-height: 65px;
      background-color: #7db858; }
      .accusation-popup .pop-layer .pop-container .pop-head .btn-close .close img {
        display: inline-block; }
  .accusation-popup .pop-layer .pop-container .pop-body {
    height: 400px;
    padding: 50px;
    background-color: #fff; }
    .accusation-popup .pop-layer .pop-container .pop-body .content {
      height: 300px; }
      .accusation-popup .pop-layer .pop-container .pop-body .content .form-group .form-control {
        width: 740px !important;
        height: 230px !important;
        border-radius: 10px;
        border: 1px solid #ccc; }
      .accusation-popup .pop-layer .pop-container .pop-body .content .btn-area {
        text-align: right;
        margin-top: 30px; }
        .accusation-popup .pop-layer .pop-container .pop-body .content .btn-area p .btn-sm {
          width: 140px;
          line-height: 38px;
          height: 40px;
          border-radius: 30px;
          text-align: center;
          font-size: 14px;
          border: 1px solid #fff; }
          .accusation-popup .pop-layer .pop-container .pop-body .content .btn-area p .btn-sm.btn-white {
            color: #666;
            border: 1px solid #ccc;
            background-color: #fff; }
          .accusation-popup .pop-layer .pop-container .pop-body .content .btn-area p .btn-sm.btn-green {
            color: #fff;
            line-height: 40px;
            border: 0;
            background-color: #7db858; }

.renew-popup .pop-layer .pop-container {
  width: 470px;
  margin: 0 auto; }
  .renew-popup .pop-layer .pop-container .pop-head {
    text-align: right; }
    .renew-popup .pop-layer .pop-container .pop-head .btn-close {
      display: inline-block; }
      .renew-popup .pop-layer .pop-container .pop-head .btn-close .close {
        width: 60x;
        height: 60px;
        opacity: 1;
        text-align: center;
        line-height: 60px; }
        .renew-popup .pop-layer .pop-container .pop-head .btn-close .close img {
          display: inline-block; }
  .renew-popup .pop-layer .pop-container .pop-body .content {
    overflow: hidden; }
    .renew-popup .pop-layer .pop-container .pop-body .content figure {
      margin-bottom: 20px; }
    .renew-popup .pop-layer .pop-container .pop-body .content label {
      float: left;
      font-size: 14px;
      font-weight: 300;
      color: rgba(255, 255, 255, 0.7); }
      .renew-popup .pop-layer .pop-container .pop-body .content label input {
        position: relative;
        top: 2px;
        margin-right: 5px; }
    .renew-popup .pop-layer .pop-container .pop-body .content a {
      font-size: 16px;
      color: #fff;
      float: right;
      text-decoration: none; }

.roulette-result .pop-layer {
  width: 570px; }
  .roulette-result .pop-layer .pop-container .pop-head {
    display: block;
    height: 65px; }
    .roulette-result .pop-layer .pop-container .pop-head .btn-close .close {
      width: 65px;
      height: 65px;
      text-align: center;
      line-height: 65px;
      opacity: 1;
      background-color: rgba(0, 0, 0, 0.7); }
      .roulette-result .pop-layer .pop-container .pop-head .btn-close .close img {
        display: inline-block; }
  .roulette-result .pop-layer .pop-container .pop-body .content {
    display: block;
    text-align: center;
    height: 545px;
    padding-top: 175px;
    background-image: url(../images/roulette/bg_result_popup.jpg);
    background-repeat: no-repeat;
    background-position: 0 0; }
    .roulette-result .pop-layer .pop-container .pop-body .content strong {
      font-size: 33px;
      color: #222;
      font-weight: 500;
      line-height: 39px;
      display: block; }
    .roulette-result .pop-layer .pop-container .pop-body .content p {
      font-size: 18px;
      color: #666;
      line-height: 24px;
      margin-top: 30px; }
    .roulette-result .pop-layer .pop-container .pop-body .content .btn-area {
      margin-top: 40px; }

.convert-pop .pop-layer {
  width: 570px; }
  .convert-pop .pop-layer .pop-container .pop-head {
    position: relative;
    width: 100%;
    padding: 23px 100px 23px 30px;
    background-color: #ad9cc4; }
    .convert-pop .pop-layer .pop-container .pop-head h4 {
      font-size: 18px;
      color: #fafafa;
      font-weight: 300;
      vertical-align: middle; }
    .convert-pop .pop-layer .pop-container .pop-head .btn-close .close {
      position: absolute;
      top: 0;
      right: 0;
      width: 65px;
      height: 65px;
      opacity: 1;
      text-align: center;
      line-height: 65px;
      background-color: #9079af; }
      .convert-pop .pop-layer .pop-container .pop-head .btn-close .close img {
        display: inline-block; }
  .convert-pop .pop-layer .pop-container .pop-body {
    padding: 30px;
    background-color: #fff; }

/*# sourceMappingURL=sub_popup.css.map */
